:root {
  --oneGreen: #00ee00;
  --twoGreen: #008e00;
  --threeGreen: #005f00;
  --fourGreen: #002f00;
  --black: #000000;
}

.App {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
